/* You can add global styles to this file, and also import other style files */

:root * {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;

  /* BACKGROUND */
  --pattern-color: rgb(255, 255, 255, 0.3);
  --background-gradient-color1: rgba(75, 72, 119, 1);
  --background-gradient-color2: rgba(33, 31, 60, 1);

  /* BLUR */
  --blur-color: rgb(0, 0, 20, 0.3);
  --blur-level: 5px;

  /* INPUTS */
  --input-border-radius: 0px;
  --input-message-font-size: 28px;
  --input-message-font-color: rgb(230, 230, 230, 0.8);
  --input-button-color: rgb(140, 200, 255, 1);
  --input-button-font-color: rgb(25, 25, 25, 0.85);

  /* TIMELINE */
  --timeline-background-color: rgb(0, 0, 0);

  /* MESSAGES */
  --any-msg-border-radius: 2px;
  --any-msg-font-size: 22px;
  --any-msg-font-color: rgb(25, 25, 25, 0.85);
  --my-msg-background-color: rgb(40, 230, 120, 1);
  --others-msg-background-color: rgb(140, 200, 255, 1);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  margin: 0px;
  padding: 0px;
  background: var(--background-gradient-color1);
  background: linear-gradient(
    75deg,
    var(--background-gradient-color1) 0%,
    var(--background-gradient-color2) 100%
  );
}
input:focus {
  outline: none;
}
.background-blurred {
  background-color: var(--blur-color);
  backdrop-filter: blur(var(--blur-level));
}
.background-pattern {
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      var(--pattern-color) 21%,
      var(--pattern-color) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        var(--pattern-color) 21%,
        var(--pattern-color) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-size: 75px 100px;
}
